/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "DroidSansRegular";
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 2, ../sass/_helpers.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 8, ../sass/_helpers.sass */
* html .clearfix {
  height: 1%;
}

/* line 10, ../sass/_helpers.sass */
*:first-child + html .clearfix {
  min-height: 1%;
}

/* line 15, ../sass/_helpers.sass */
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 19, ../sass/_helpers.sass */
.remove {
  display: none;
}

/* line 8, ../sass/style.sass */
a {
  color: black;
  text-decoration: none;
}

/* line 11, ../sass/style.sass */
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 240px;
  background: #c9caca url(../images/bg.jpg) no-repeat;
  background-size: 100% auto;
}

/* line 21, ../sass/style.sass */
body.ui-mobile-viewport {
  font-family: "DroidSansRegular", Arial, Helvetica, sans-serif;
  background: #c9caca;
}
/* line 25, ../sass/style.sass */
body.ui-mobile-viewport div.ui-header {
  height: 44px;
  background: url(../images/header.png) repeat-x;
}
/* line 28, ../sass/style.sass */
body.ui-mobile-viewport div.ui-header h1 {
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 2px;
  color: white;
  font-size: 20px;
  line-height: 20px;
}
/* line 33, ../sass/style.sass */
body.ui-mobile-viewport div.ui-header a.ui-btn {
  margin-top: 4px;
  height: 25px;
  border: 1px solid #444444;
  background: url(../images/btn.jpg);
  font-size: 12px;
  line-height: 27px;
  color: white;
  padding: 0 10px 3px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 44, ../sass/style.sass */
body.ui-mobile-viewport div.ui-header a.ui-btn span {
  padding: 0;
}
/* line 49, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .home-logo {
  text-align: center;
  padding: 0 0 30px;
}
/* line 52, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .home-label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: center;
}
/* line 57, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .home-textfield {
  width: 85%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #9a5bc3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #6b559d 0px 0px 3px 0px inset;
  -moz-box-shadow: #6b559d 0px 0px 3px 0px inset;
  box-shadow: #6b559d 0px 0px 3px 0px inset;
  height: 30px;
}
/* line 66, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .home-button {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
/* line 70, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .home-button .ui-btn.ui-submit {
  height: 40px;
  margin-top: 5px;
  background: url(../images/search.jpg) repeat-x;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-right: 1px solid #626262;
  border-left: 1px solid #626262;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 78, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .home-button .ui-btn.ui-submit span {
  display: block;
}
/* line 80, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .home-button .ui-btn.ui-submit span span {
  color: white;
  font-size: 20px;
}
/* line 83, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .fb-twitter {
  margin: 10px 7.5% 10px;
  float: right;
}
/* line 86, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .fb-twitter li {
  display: inline;
  float: left;
  width: 26px;
  height: 26px;
  margin: 0 2px 0 5px;
}
/* line 92, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .fb-twitter li.fb {
  background: url(../images/fb-twitter.png) no-repeat left top;
}
/* line 94, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .fb-twitter li.twitter {
  background: url(../images/fb-twitter.png) no-repeat right top;
}
/* line 98, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top {
  margin-bottom: 15px;
  position: relative;
}
/* line 101, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .logo-normal {
  float: left;
}
/* line 103, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .titles {
  float: right;
  text-align: right;
  margin-top: 54px;
}
/* line 107, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .titles h2 {
  font-size: 22px;
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  line-height: 1.4em;
}
/* line 111, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .titles h3 {
  font-size: 22px;
  color: #545454;
  letter-spacing: -1px;
  line-height: 1.3em;
}
/* line 116, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .club-logo {
  float: left;
  width: auto;
  height: 80px;
}
/* line 120, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .club-logo img {
  width: auto;
  height: 80px;
}
/* line 123, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .new-title {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 90px;
  height: 44px;
  overflow: hidden;
  line-height: 22px;
  font-weight: bold;
  font-size: 14px;
}
/* line 133, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .common-top .logo-small {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 140, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-1 {
  margin-top: 10px;
  margin-bottom: 0;
}
/* line 143, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-1 li.ui-btn {
  margin: 0 10px 2px;
  background: url(../images/list.png);
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
/* line 148, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-1 li.ui-btn a {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 10px;
  background: url(../images/arrow.png) no-repeat right center;
}
/* line 153, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-1 li.ui-btn a h3 {
  font-weight: bold;
  color: #303030;
  font-size: 16px;
  line-height: 18px;
}
/* line 158, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-1 li.ui-btn a p {
  color: #292929;
  font-size: 16px;
  line-height: 18px;
}
/* line 163, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-2 {
  margin-top: 10px;
  margin-bottom: 0;
}
/* line 166, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-2 li.ui-btn {
  margin: 0 10px 2px;
  background: url(../images/list.png);
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 172, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-2 li.ui-btn a {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 10px;
  background: url(../images/arrow.png) no-repeat right center;
}
/* line 177, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-2 li.ui-btn a h3 {
  font-weight: bold;
  color: #303030;
  font-size: 16px;
  line-height: 18px;
}
/* line 182, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .listing-2 li.ui-btn a p {
  color: #292929;
  font-size: 16px;
  line-height: 18px;
}
/* line 188, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-bottom {
  position: relative;
}
/* line 190, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-bottom .event-graphic {
  margin-left: 50px;
  min-heigth: 280px;
}
/* line 195, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-bottom .event-graphic ul li img {
  width: 100%;
  max-width: 450px;
  height: auto;
}
/* line 199, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-bottom .event-graphic ul li p {
  font-size: 12px;
  line-height: 1.3em;
  padding: 10px 0;
}
/* line 204, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content {
  position: relative;
  padding-left: 40px;
}
/* line 208, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .event-body h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6em;
}
/* line 212, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .event-body .date {
  font-size: 12px;
  line-height: 1.6em;
  display: block;
}
/* line 216, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .event-body .url {
  font-size: 13px;
  line-height: 1.6em;
  display: block;
}
/* line 220, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .event-body .event-buttons {
  float: none;
  margin: 0;
}
/* line 223, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .event-body .event-buttons li {
  padding-left: 0;
  padding-right: 5px;
}
/* line 226, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .event-body img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin-top: 10px;
}
/* line 231, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .event-body p {
  font-size: 12px;
  line-height: 1.3em;
  padding: 10px 0;
}
/* line 235, ../sass/style.sass */
body.ui-mobile-viewport div.ui-content .event-content .share {
  margin-left: 0;
}

/* line 239, ../sass/style.sass */
.event-buttons {
  float: right;
  margin-top: 50px;
}
/* line 242, ../sass/style.sass */
.event-buttons li {
  display: inline;
  float: left;
  padding-left: 4px;
}
/* line 246, ../sass/style.sass */
.event-buttons li a {
  display: block;
  background: url(../images/btn.jpg) repeat-x 0 -2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #444444;
  padding: 0 7px;
  font-size: 11px;
  line-height: 2em;
  color: white;
}

/* line 256, ../sass/style.sass */
.share {
  margin-left: 50px;
  min-height: 40px;
  background: url(../images/mainstream.png) no-repeat left top;
}
/* line 260, ../sass/style.sass */
.share .bottom-logo {
  float: left;
}
/* line 262, ../sass/style.sass */
.share .genre {
  float: left;
  line-height: 2em;
  font-size: 12px;
  font-weight: bold;
}
/* line 267, ../sass/style.sass */
.share #share {
  float: right;
}
/* line 269, ../sass/style.sass */
.share #share li {
  display: inline;
  float: left;
  padding: 0 3px;
}
/* line 273, ../sass/style.sass */
.share #share li a {
  display: block;
  width: 26px;
  height: 23px;
  background: url(../images/shareBottom.png) no-repeat;
}
/* line 278, ../sass/style.sass */
.share #share li.pp a {
  background-position: 0 0;
}
/* line 280, ../sass/style.sass */
.share #share li.twitter a {
  background-position: -33px 0;
}
/* line 282, ../sass/style.sass */
.share #share li.facebook a {
  background-position: -63px 0;
}

/* line 286, ../sass/style.sass */
.calendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 350px;
}
/* line 292, ../sass/style.sass */
.calendar .month {
  height: 30px;
}
/* line 294, ../sass/style.sass */
.calendar .month li {
  display: block;
  background: url(../images/btn.jpg) repeat-x 0 -2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #444444;
  text-align: center;
  font-size: 12px;
  line-height: 2em;
  color: white;
  margin-bottom: 6px;
}
/* line 304, ../sass/style.sass */
.calendar .date {
  width: 40px;
  height: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 311, ../sass/style.sass */
.calendar .date li {
  width: 30px;
  padding-left: 5px;
}
/* line 314, ../sass/style.sass */
.calendar .date li a {
  background-color: #616161;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
  display: block;
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 31px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
/* line 328, ../sass/style.sass */
.calendar .date li a.purple {
  background-color: #542354;
}
/* line 330, ../sass/style.sass */
.calendar .date li a.blue {
  background-color: #1f7dad;
}
/* line 332, ../sass/style.sass */
.calendar .date li a.su, .calendar .date li a.sa {
  background-image: url(../images/cal-S.png);
}
/* line 334, ../sass/style.sass */
.calendar .date li a.mo {
  background-image: url(../images/cal-M.png);
}
/* line 336, ../sass/style.sass */
.calendar .date li a.tu, .calendar .date li a.th {
  background-image: url(../images/cal-T.png);
}
/* line 338, ../sass/style.sass */
.calendar .date li a.we {
  background-image: url(../images/cal-W.png);
}
/* line 340, ../sass/style.sass */
.calendar .date li a.fr {
  background-image: url(../images/cal-F.png);
}

/* line 344, ../sass/style.sass */
div.ui-footer {
  background: #221437 url(../images/footer-ad.jpg) no-repeat right top;
  height: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 -3px 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 -3px 10px;
}


/* line 350, ../sass/style.sass */
.loading {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	height:30px;
	width:30px;
}
